@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "projecthyperpink";
  default: false;
  prefersdark: false;
  color-scheme: "dark";

  --color-base-100: #131313;
  --color-base-200: #10090b;
  --color-base-300: #311c22;
  --color-base-content: #f3f3f3;

  --color-primary: #db0151;
  --color-primary-content: #ffffff;

  --color-secondary: #841e47;
  --color-secondary-content: #ffffff;

  --color-accent: ##e94788;
  --color-accent-content: #ffffff;

  --color-neutral: #311c22;
  --color-neutral-content: #f3f3f3;

  --color-info: #2094f3;
  --color-info-content: #ffffff;

  --color-success: #009485;
  --color-success-content: #ffffff;

  --color-warning: #ff9900;
  --color-warning-content: #ffffff;

  --color-error: #dc2626;
  --color-error-content: #ffffff;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
