@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "pj-pink";
  default: false;
  prefersdark: false;
  color-scheme: "pj-pink";

  --color-base-100: oklch(20.83% 0.016 356.66); /* background-900 */
  --color-base-200: oklch(15.52% 0.007 1.15); /* background-950 */
  --color-base-300: oklch(30.94% 0.025 358.11); /* background-800 */
  --color-base-content: oklch(91.54% 0.016 352); /* text-100 */

  --color-primary: oklch(56.88% 0.187 3.16); /* primary-500 */
  --color-primary-content: oklch(90.63% 0.035 352.91); /* primary-100 */

  --color-secondary: oklch(59.09% 0.222 6.05); /* secondary-500 */
  --color-secondary-content: oklch(90.1% 0.048 352.97); /* secondary-100 */

  --color-accent: oklch(62.04% 0.245 9.94); /* accent-500 */
  --color-accent-content: oklch(89.7% 0.058 353.37); /* accent-100 */

  --color-neutral: oklch(
    15.38% 0.011 356.62
  ); /* text-950 as a soft dark neutral */
  --color-neutral-content: oklch(83.09% 0.03 350.66); /* text-200 */

  --color-info: oklch(56.88% 0.187 3.16); /* reused primary */
  --color-info-content: oklch(20.22% 0.051 358.91); /* primary-900 */

  --color-success: oklch(52.51% 0.207 9.39); /* accent-600 */
  --color-success-content: oklch(20.57% 0.078 2.76); /* accent-900 */

  --color-warning: oklch(64.47% 0.195 0.76); /* secondary-400 */
  --color-warning-content: oklch(20.37% 0.066 1.06); /* secondary-900 */

  --color-error: oklch(48.42% 0.157 3.09); /* primary-600 */
  --color-error-content: oklch(20.22% 0.051 358.91); /* primary-900 */

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
